<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
	<div class="container registration-container">
		<div class="row g-0">
			<!-- Left side: Image -->
			<div class="col-lg-5">
				<div class="image-container p-4 h-100">
					<!-- Floating icons -->
					<svg class="floating-icon icon-1" width="40" height="40" viewBox="0 0 24 24" fill="white">
						<path d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z"/>
					</svg>
					<svg class="floating-icon icon-2" width="30" height="30" viewBox="0 0 24 24" fill="white">
						<path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"/>
					</svg>
					<svg class="floating-icon icon-3" width="35" height="35" viewBox="0 0 24 24" fill="white">
						<path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"/>
					</svg>

					<img src="img/ecom.png" alt="E-commerce Registration" class="img-fluid">
				</div>
			</div>

			<!-- Right side: Form -->
			<div class="col-lg-7">
				<div class="form-container">
					<div class="card border-0 shadow">
						<div class="card-header text-center">
							<h2 class="fs-4 text-center">Create Your Account</h2>
							<p class="text-muted mb-0">Join us to start shopping</p>

							<th:block th:if="${session.succMsg}">
								<div class="alert alert-success mt-3" role="alert">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle me-2" viewBox="0 0 16 16">
										<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
										<path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
									</svg>
									[[${session.succMsg}]]
								</div>
								<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMsg}">
								<div class="alert alert-danger mt-3" role="alert">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle me-2" viewBox="0 0 16 16">
										<path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
										<path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
									</svg>
									[[${session.errorMsg}]]
								</div>
								<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
						</div>

						<div class="card-body">
							<form action="/saveUser" enctype="multipart/form-data" id="userRegister" novalidate method="post">
								<!-- Name and Mobile Number -->
								<div class="row mb-3">
									<div class="col-md-6">
										<label class="form-label">Full Name</label>
										<div class="input-group">
                                                <span class="input-group-text bg-white">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                                    </svg>
                                                </span>
											<input required class="form-control" name="name" type="text" placeholder="John Doe">
										</div>
									</div>
									<div class="col-md-6">
										<label class="form-label">Mobile Number</label>
										<div class="input-group">
                                                <span class="input-group-text bg-white">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                                                        <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                                                        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                                    </svg>
                                                </span>
											<input required class="form-control" name="mobileNumber" type="number" placeholder="1234567890">
										</div>
									</div>
								</div>

								<!-- Email -->
								<div class="mb-3">
									<label class="form-label">Email</label>
									<div class="input-group">
                                            <span class="input-group-text bg-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                                </svg>
                                            </span>
										<input required class="form-control" name="email" type="email" placeholder="you@example.com">
									</div>
								</div>

								<!-- Address and City -->
								<div class="row mb-3">
									<div class="col-md-6">
										<label class="form-label">Address</label>
										<div class="input-group">
                                                <span class="input-group-text bg-white">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                                    </svg>
                                                </span>
											<input required class="form-control" name="address" type="text" placeholder="123 Main St">
										</div>
									</div>
									<div class="col-md-6">
										<label class="form-label">City</label>
										<div class="input-group">
                                                <span class="input-group-text bg-white">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                                        <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                                                    </svg>
                                                </span>
											<input required class="form-control" name="city" type="text" placeholder="New York">
										</div>
									</div>
								</div>

								<!-- State and Pincode -->
								<div class="row mb-3">
									<div class="col-md-6">
										<label class="form-label">State</label>
										<div class="input-group">
                                                <span class="input-group-text bg-white">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                                                    </svg>
                                                </span>
											<input required class="form-control" name="state" type="text" placeholder="NY">
										</div>
									</div>
									<div class="col-md-6">
										<label class="form-label">Pincode</label>
										<div class="input-group">
                                                <span class="input-group-text bg-white">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
                                                        <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
                                                    </svg>
                                                </span>
											<input required class="form-control" name="pincode" type="number" placeholder="10001">
										</div>
									</div>
								</div>

								<!-- Password and Confirm Password -->
								<div class="row mb-3">
									<div class="col-md-6">
										<label class="form-label">Password</label>
										<div class="input-group">
                                                <span class="input-group-text bg-white">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                                                    </svg>
                                                </span>
											<input required class="form-control" name="password" type="password" id="pass" placeholder="********">
										</div>
									</div>
									<div class="col-md-6">
										<label class="form-label">Confirm Password</label>
										<div class="input-group">
                                                <span class="input-group-text bg-white">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-check" viewBox="0 0 16 16">
                                                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                                                        <path d="M10.5 11.5a.5.5 0 0 1-1 0V10a.5.5 0 0 1 1 0v1.5zm-3-5a.5.5 0 0 1 1 0V10a.5.5 0 0 1-1 0V6.5z"/>
                                                    </svg>
                                                </span>
											<input required class="form-control" name="confirmpassword" type="password" placeholder="********">
										</div>
									</div>
								</div>

								<!-- Profile Image Upload -->
								<div class="mb-4">
									<label class="form-label">Profile Image</label>
									<div class="file-upload">
										<label class="file-upload-label">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cloud-arrow-up me-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
												<path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 10.001a4 4 0 0 1-4 4H3.75a4 4 0 0 1-4-4c0-1.738 1.089-3.208 2.624-3.78a5.457 5.457 0 0 1-.001-.76c.015-.36.084-.724.195-1.057.236-.708.683-1.36 1.31-1.811A5.53 5.53 0 0 1 4.406 3.342z"/>
											</svg>
											<span>Upload Profile Image</span>
										</label>
										<input class="form-control" name="img" type="file">
									</div>
								</div>

								<!-- Submit Button -->
								<button type="submit" class="btn submit-btn text-white col-12">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle me-2" viewBox="0 0 16 16">
										<path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
										<path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
									</svg>
									Create Account
								</button>
							</form>
						</div>

						<div class="card-footer text-center">
							<p class="mb-0">
								Already have an account? <a href="/login" class="text-decoration-none">Sign In</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	</section>

<script>
	document.addEventListener('DOMContentLoaded', function() {
        // Form validation
        const form = document.getElementById('userRegister');
        const password = document.getElementById('pass');

        form.addEventListener('submit', function(event) {
            // Prevent form submission if validations fail
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.classList.add('was-validated');
        });

        // Image preview functionality
        const fileInput = document.querySelector('input[name="img"]');
        const fileLabel = document.querySelector('.file-upload-label span');

        fileInput.addEventListener('change', function() {
            if (fileInput.files.length > 0) {
                fileLabel.textContent = fileInput.files[0].name;
            } else {
                fileLabel.textContent = 'Upload Profile Image';
            }
        });

        // Password match validation
        const confirmPassword = document.querySelector('input[name="confirmpassword"]');
        confirmPassword.addEventListener('input', function() {
            if (password.value !== confirmPassword.value) {
                confirmPassword.setCustomValidity('Passwords do not match');
            } else {
                confirmPassword.setCustomValidity('');
            }
        });

        password.addEventListener('input', function() {
            if (confirmPassword.value !== '') {
                if (password.value !== confirmPassword.value) {
                    confirmPassword.setCustomValidity('Passwords do not match');
                } else {
                    confirmPassword.setCustomValidity('');
                }
            }
        });
    });
</script>
</body>
</html>